<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UwU_Maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <UwU_Maker.Properties.Settings>
            <setting name="Disclaimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LootTimeA" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LootTimeB" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="FailChance" serializeAs="String">
                <value>250</value>
            </setting>
        </UwU_Maker.Properties.Settings>
    </userSettings>
</configuration>
